openapi: "3.0.3"
info:
  title: "MsgCore API"
  description: "Universal messaging gateway API - send messages across multiple platforms"
  version: "1.0.0"
  contact:
    name: "MsgCore Support"
    url: "https://msgcore.dev"
    email: "contact@msgcore.com"
  license:
    name: "MIT"
    url: "https://opensource.org/licenses/MIT"
servers:
  -
    url: "https://api.msgcore.dev"
    description: "Production server"
  -
    url: "https://msgcore-dev.fly.dev"
    description: "Development server"
paths:
  /api/v1/projects/{project}/webhooks:
    post:
      summary: "Create a new webhook for event notifications"
      description: "Create a new webhook for event notifications"
      operationId: "webhooksCreate"
      tags:
        - "Webhooks"
      security:
        -
          ApiKeyAuth:
            - "webhooks:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: "List all webhooks for a project"
      description: "List all webhooks for a project"
      operationId: "webhooksList"
      tags:
        - "Webhooks"
      security:
        -
          ApiKeyAuth:
            - "webhooks:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/webhooks/{webhookId}:
    get:
      summary: "Get a specific webhook with delivery statistics"
      description: "Get a specific webhook with delivery statistics"
      operationId: "webhooksGet"
      tags:
        - "Webhooks"
      security:
        -
          ApiKeyAuth:
            - "webhooks:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "webhookId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "webhookId parameter"
        -
          name: "webhookId"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Webhook ID"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookDetailResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: "Update a webhook configuration"
      description: "Update a webhook configuration"
      operationId: "webhooksUpdate"
      tags:
        - "Webhooks"
      security:
        -
          ApiKeyAuth:
            - "webhooks:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "webhookId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "webhookId parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: "Delete a webhook"
      description: "Delete a webhook"
      operationId: "webhooksDelete"
      tags:
        - "Webhooks"
      security:
        -
          ApiKeyAuth:
            - "webhooks:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "webhookId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "webhookId parameter"
        -
          name: "webhookId"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Webhook ID"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/webhooks/{webhookId}/deliveries:
    get:
      summary: "List webhook delivery attempts with filtering"
      description: "List webhook delivery attempts with filtering"
      operationId: "webhooksDeliveries"
      tags:
        - "Webhooks"
      security:
        -
          ApiKeyAuth:
            - "webhooks:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "webhookId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "webhookId parameter"
        -
          name: "webhookId"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Webhook ID"
        -
          name: "event"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Filter by event type"
        -
          name: "status"
          in: "query"
          required: false
          schema:
            type: "string"
            enum:
              - "pending"
              - "success"
              - "failed"
          description: "Filter by delivery status"
        -
          name: "limit"
          in: "query"
          required: false
          schema:
            type: "number"
            default: 50
          description: "Number of deliveries to return (1-100)"
        -
          name: "offset"
          in: "query"
          required: false
          schema:
            type: "number"
            default: 0
          description: "Number of deliveries to skip"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookDeliveryListResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects:
    post:
      summary: "Create a new project"
      description: "Create a new project"
      operationId: "projectsCreate"
      tags:
        - "Projects"
      security:
        -
          ApiKeyAuth:
            - "projects:write"
      parameters:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: "List all projects"
      description: "List all projects"
      operationId: "projectsList"
      tags:
        - "Projects"
      security:
        -
          ApiKeyAuth:
            - "projects:read"
      parameters:
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}:
    get:
      summary: "Get project details"
      description: "Get project details"
      operationId: "projectsGet"
      tags:
        - "Projects"
      security:
        -
          ApiKeyAuth:
            - "projects:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: "Update project name, description and settings"
      description: "Update project name, description and settings"
      operationId: "projectsUpdate"
      tags:
        - "Projects"
      security:
        -
          ApiKeyAuth:
            - "projects:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: "Delete a project"
      description: "Delete a project"
      operationId: "projectsDelete"
      tags:
        - "Projects"
      security:
        -
          ApiKeyAuth:
            - "projects:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/platforms:
    post:
      summary: "Configure a new platform integration"
      description: "Configure a new platform integration"
      operationId: "platformsCreate"
      tags:
        - "Platforms"
      security:
        -
          ApiKeyAuth:
            - "platforms:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePlatformDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: "List configured platforms for project"
      description: "List configured platforms for project"
      operationId: "platformsList"
      tags:
        - "Platforms"
      security:
        -
          ApiKeyAuth:
            - "platforms:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/platforms/{id}:
    get:
      summary: "Get platform configuration details"
      description: "Get platform configuration details"
      operationId: "platformsGet"
      tags:
        - "Platforms"
      security:
        -
          ApiKeyAuth:
            - "platforms:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "id parameter"
        -
          name: "id"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Platform ID"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: "Update platform configuration"
      description: "Update platform configuration"
      operationId: "platformsUpdate"
      tags:
        - "Platforms"
      security:
        -
          ApiKeyAuth:
            - "platforms:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "id parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePlatformDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: "Remove platform configuration"
      description: "Remove platform configuration"
      operationId: "platformsDelete"
      tags:
        - "Platforms"
      security:
        -
          ApiKeyAuth:
            - "platforms:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "id parameter"
        -
          name: "id"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Platform ID"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/platforms/{id}/register-webhook:
    post:
      summary: "Register webhook URL with platform provider"
      description: "Register webhook URL with platform provider"
      operationId: "platformsRegister-webhook"
      tags:
        - "Platforms"
      security:
        -
          ApiKeyAuth:
            - "platforms:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "id parameter"
        -
          name: "id"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Platform ID"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/platforms/{id}/qr-code:
    get:
      summary: "Get QR code for WhatsApp authentication"
      description: "Get QR code for WhatsApp authentication"
      operationId: "platformsQr-code"
      tags:
        - "Platforms"
      security:
        -
          ApiKeyAuth:
            - "platforms:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "id parameter"
        -
          name: "id"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "WhatsApp Platform ID"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/messages:
    get:
      summary: "List messages for a project (sent and received)"
      description: "List messages for a project (sent and received)"
      operationId: "messagesList"
      tags:
        - "Messages"
      security:
        -
          ApiKeyAuth:
            - "messages:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryMessagesDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageListResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/messages/stats:
    get:
      summary: "Get message statistics for a project"
      description: "Get message statistics for a project"
      operationId: "messagesStats"
      tags:
        - "Messages"
      security:
        -
          ApiKeyAuth:
            - "messages:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageStatsResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/messages/{messageId}:
    get:
      summary: "Get a specific message by ID"
      description: "Get a specific message by ID"
      operationId: "messagesGet"
      tags:
        - "Messages"
      security:
        -
          ApiKeyAuth:
            - "messages:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "messageId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "messageId parameter"
        -
          name: "messageId"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Message ID"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceivedMessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/messages/cleanup:
    delete:
      summary: "Delete messages older than specified days"
      description: "Delete messages older than specified days"
      operationId: "messagesCleanup"
      tags:
        - "Messages"
      security:
        -
          ApiKeyAuth:
            - "messages:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "daysBefore"
          in: "query"
          required: true
          schema:
            type: "number"
          description: "Delete messages older than this many days"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/messages/send:
    post:
      summary: "Send a message to platforms"
      description: "Send a message to platforms"
      operationId: "messagesSend"
      tags:
        - "Messages"
      security:
        -
          ApiKeyAuth:
            - "messages:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageSendResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/messages/status/{jobId}:
    get:
      summary: "Check message delivery status"
      description: "Check message delivery status"
      operationId: "messagesStatus"
      tags:
        - "Messages"
      security:
        -
          ApiKeyAuth:
            - "messages:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "jobId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "jobId parameter"
        -
          name: "jobId"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Message job ID"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageStatusResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/messages/retry/{jobId}:
    post:
      summary: "Retry a failed message"
      description: "Retry a failed message"
      operationId: "messagesRetry"
      tags:
        - "Messages"
      security:
        -
          ApiKeyAuth:
            - "messages:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "jobId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "jobId parameter"
        -
          name: "jobId"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Failed message job ID"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageRetryResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/messages/react:
    post:
      summary: "Add a reaction to a message"
      description: "Add a reaction to a message"
      operationId: "messagesReact"
      tags:
        - "Messages"
      security:
        -
          ApiKeyAuth:
            - "messages:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendReactionDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/messages/unreact:
    post:
      summary: "Remove a reaction from a message"
      description: "Remove a reaction from a message"
      operationId: "messagesUnreact"
      tags:
        - "Messages"
      security:
        -
          ApiKeyAuth:
            - "messages:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendReactionDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/members:
    get:
      summary: "List all members of a project"
      description: "List all members of a project"
      operationId: "membersList"
      tags:
        - "Members"
      security:
        -
          ApiKeyAuth:
            - "members:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectMemberResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: "Add a member to a project"
      description: "Add a member to a project"
      operationId: "membersAdd"
      tags:
        - "Members"
      security:
        -
          ApiKeyAuth:
            - "members:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddMemberDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectMemberResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/members/{userId}:
    patch:
      summary: "Update a member role in a project"
      description: "Update a member role in a project"
      operationId: "membersUpdate"
      tags:
        - "Members"
      security:
        -
          ApiKeyAuth:
            - "members:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "userId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "userId parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMemberRoleDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectMemberResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: "Remove a member from a project"
      description: "Remove a member from a project"
      operationId: "membersRemove"
      tags:
        - "Members"
      security:
        -
          ApiKeyAuth:
            - "members:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "userId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "userId parameter"
        -
          name: "userId"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "User ID of the member to remove"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/members/invite:
    post:
      summary: "Invite a user to join a project"
      description: "Invite a user to join a project"
      operationId: "membersInvite"
      tags:
        - "Members"
      security:
        -
          ApiKeyAuth:
            - "members:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInviteDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/identities:
    post:
      summary: "Create a new identity with platform aliases"
      description: "Create a new identity with platform aliases"
      operationId: "identitiesCreate"
      tags:
        - "Identities"
      security:
        -
          ApiKeyAuth:
            - "identities:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIdentityDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: "List all identities for a project"
      description: "List all identities for a project"
      operationId: "identitiesList"
      tags:
        - "Identities"
      security:
        -
          ApiKeyAuth:
            - "identities:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/identities/search:
    get:
      summary: "Search identities by display name or email"
      description: "Search identities by display name or email"
      operationId: "identitiesSearch"
      tags:
        - "Identities"
      security:
        -
          ApiKeyAuth:
            - "identities:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "q"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Search query (min 2 characters)"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/identities/quick-link:
    post:
      summary: "Create identity and link platform user in one operation"
      description: "Create identity and link platform user in one operation"
      operationId: "identitiesQuick-link"
      tags:
        - "Identities"
      security:
        -
          ApiKeyAuth:
            - "identities:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuickLinkDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/identities/lookup:
    get:
      summary: "Lookup identity by platform user ID (returns null if not found)"
      description: "Lookup identity by platform user ID (returns null if not found)"
      operationId: "identitiesLookup"
      tags:
        - "Identities"
      security:
        -
          ApiKeyAuth:
            - "identities:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "platformId"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Platform configuration ID"
        -
          name: "providerUserId"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Provider-specific user ID"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/identities/{id}:
    get:
      summary: "Get a specific identity by ID"
      description: "Get a specific identity by ID"
      operationId: "identitiesGet"
      tags:
        - "Identities"
      security:
        -
          ApiKeyAuth:
            - "identities:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "id parameter"
        -
          name: "id"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Identity ID"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: "Update identity metadata (display name, email, metadata)"
      description: "Update identity metadata (display name, email, metadata)"
      operationId: "identitiesUpdate"
      tags:
        - "Identities"
      security:
        -
          ApiKeyAuth:
            - "identities:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "id parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateIdentityDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: "Delete an identity and all its aliases"
      description: "Delete an identity and all its aliases"
      operationId: "identitiesDelete"
      tags:
        - "Identities"
      security:
        -
          ApiKeyAuth:
            - "identities:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "id parameter"
        -
          name: "id"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Identity ID to delete"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/identities/{id}/aliases:
    post:
      summary: "Add a platform alias to an existing identity"
      description: "Add a platform alias to an existing identity"
      operationId: "identitiesAdd-alias"
      tags:
        - "Identities"
      security:
        -
          ApiKeyAuth:
            - "identities:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "id parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddAliasDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityAliasResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/identities/{id}/aliases/{aliasId}:
    delete:
      summary: "Remove a platform alias from an identity"
      description: "Remove a platform alias from an identity"
      operationId: "identitiesRemove-alias"
      tags:
        - "Identities"
      security:
        -
          ApiKeyAuth:
            - "identities:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "id parameter"
        -
          name: "aliasId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "aliasId parameter"
        -
          name: "id"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Identity ID"
        -
          name: "aliasId"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Alias ID to remove"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/identities/{id}/messages:
    get:
      summary: "Get all messages for an identity (across all linked platform accounts)"
      description: "Get all messages for an identity (across all linked platform accounts)"
      operationId: "identitiesMessages"
      tags:
        - "Identities"
      security:
        -
          ApiKeyAuth:
            - "identities:read"
            - "messages:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "id parameter"
        -
          name: "id"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Identity ID"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceivedMessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/identities/{id}/reactions:
    get:
      summary: "Get all reactions for an identity (across all linked platform accounts)"
      description: "Get all reactions for an identity (across all linked platform accounts)"
      operationId: "identitiesReactions"
      tags:
        - "Identities"
      security:
        -
          ApiKeyAuth:
            - "identities:read"
            - "messages:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "id parameter"
        -
          name: "id"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Identity ID"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceivedReactionResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/signup:
    post:
      summary: "Create a new user account (first user becomes admin)"
      description: "Create a new user account (first user becomes admin)"
      operationId: "authSignup"
      tags:
        - "Auth"
      security:
        -
          ApiKeyAuth:
      parameters:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignupDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/login:
    post:
      summary: "Login with email and password"
      description: "Login with email and password"
      operationId: "authLogin"
      tags:
        - "Auth"
      security:
        -
          ApiKeyAuth:
      parameters:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/accept-invite:
    post:
      summary: "Accept a project invitation and create account"
      description: "Accept a project invitation and create account"
      operationId: "authAccept-invite"
      tags:
        - "Auth"
      security:
        -
          ApiKeyAuth:
      parameters:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptInviteDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/whoami:
    get:
      summary: "Get current authentication context and permissions"
      description: "Get current authentication context and permissions"
      operationId: "authWhoami"
      tags:
        - "Auth"
      security:
        -
          ApiKeyAuth:
      parameters:
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PermissionResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/password:
    patch:
      summary: "Update your password (requires current password)"
      description: "Update your password (requires current password)"
      operationId: "authUpdate-password"
      tags:
        - "Auth"
      security:
        -
          ApiKeyAuth:
      parameters:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePasswordDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/auth/profile:
    patch:
      summary: "Update your profile information"
      description: "Update your profile information"
      operationId: "authUpdate-profile"
      tags:
        - "Auth"
      security:
        -
          ApiKeyAuth:
      parameters:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateProfileResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/billing/checkout:
    post:
      summary: "Create Stripe checkout session for subscription upgrade"
      description: "Create Stripe checkout session for subscription upgrade"
      operationId: "billingCheckout"
      tags:
        - "Billing"
      security:
        -
          ApiKeyAuth:
      parameters:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCheckoutDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutResponseDto"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/billing/portal:
    post:
      summary: "Access Stripe customer portal to manage subscription"
      description: "Access Stripe customer portal to manage subscription"
      operationId: "billingPortal"
      tags:
        - "Billing"
      security:
        -
          ApiKeyAuth:
      parameters:
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortalResponseDto"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/billing/subscription:
    get:
      summary: "Get current subscription details including tier, status, and trial info"
      description: "Get current subscription details including tier, status, and trial info"
      operationId: "billingSubscription"
      tags:
        - "Billing"
      security:
        -
          ApiKeyAuth:
      parameters:
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionResponseDto"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/billing/usage:
    get:
      summary: "Get usage statistics for projects, messages, platforms, webhooks with limit warnings"
      description: "Get usage statistics for projects, messages, platforms, webhooks with limit warnings"
      operationId: "billingUsage"
      tags:
        - "Billing"
      security:
        -
          ApiKeyAuth:
      parameters:
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponseDto"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/billing/sync:
    post:
      summary: "Manually sync subscription data from Stripe"
      description: "Manually sync subscription data from Stripe"
      operationId: "billingSync"
      tags:
        - "Billing"
      security:
        -
          ApiKeyAuth:
      parameters:
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncResponseDto"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/keys:
    post:
      summary: "Generate a new API key"
      description: "Generate a new API key"
      operationId: "keysCreate"
      tags:
        - "ApiKeys"
      security:
        -
          ApiKeyAuth:
            - "keys:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: "List all API keys for project"
      description: "List all API keys for project"
      operationId: "keysList"
      tags:
        - "ApiKeys"
      security:
        -
          ApiKeyAuth:
            - "keys:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyListResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/keys/{keyId}:
    delete:
      summary: "Revoke an API key"
      description: "Revoke an API key"
      operationId: "keysRevoke"
      tags:
        - "ApiKeys"
      security:
        -
          ApiKeyAuth:
            - "keys:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "keyId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "keyId parameter"
        -
          name: "keyId"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "API key ID to revoke"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/keys/{keyId}/roll:
    post:
      summary: "Roll an API key (generate new key, revoke old after 24h)"
      description: "Roll an API key (generate new key, revoke old after 24h)"
      operationId: "keysRoll"
      tags:
        - "ApiKeys"
      security:
        -
          ApiKeyAuth:
            - "keys:write"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "keyId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "keyId parameter"
        -
          name: "keyId"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "API key ID to roll"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyRollResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/platforms/logs:
    get:
      summary: "List platform processing logs for a project"
      description: "List platform processing logs for a project"
      operationId: "platformsLogsList"
      tags:
        - "Platform Logs"
      security:
        -
          ApiKeyAuth:
            - "platforms:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "platform"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Filter by platform (telegram, discord)"
        -
          name: "level"
          in: "query"
          required: false
          schema:
            type: "string"
            enum:
              - "info"
              - "warn"
              - "error"
              - "debug"
          description: "Filter by log level"
        -
          name: "category"
          in: "query"
          required: false
          schema:
            type: "string"
            enum:
              - "connection"
              - "webhook"
              - "message"
              - "error"
              - "auth"
              - "general"
          description: "Filter by log category"
        -
          name: "startDate"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Filter logs after this date (ISO 8601)"
        -
          name: "endDate"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Filter logs before this date (ISO 8601)"
        -
          name: "limit"
          in: "query"
          required: false
          schema:
            type: "number"
            default: "100"
          description: "Number of logs to return (1-1000)"
        -
          name: "offset"
          in: "query"
          required: false
          schema:
            type: "number"
          description: "Number of logs to skip"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformLogsResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/platforms/{platformId}/logs:
    get:
      summary: "List logs for a specific platform configuration"
      description: "List logs for a specific platform configuration"
      operationId: "platformsLogsGet"
      tags:
        - "Platform Logs"
      security:
        -
          ApiKeyAuth:
            - "platforms:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "platformId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "platformId parameter"
        -
          name: "level"
          in: "query"
          required: false
          schema:
            type: "string"
            enum:
              - "info"
              - "warn"
              - "error"
              - "debug"
          description: "Filter by log level"
        -
          name: "category"
          in: "query"
          required: false
          schema:
            type: "string"
            enum:
              - "connection"
              - "webhook"
              - "message"
              - "error"
              - "auth"
              - "general"
          description: "Filter by log category"
        -
          name: "startDate"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Filter logs after this date (ISO 8601)"
        -
          name: "endDate"
          in: "query"
          required: false
          schema:
            type: "string"
          description: "Filter logs before this date (ISO 8601)"
        -
          name: "limit"
          in: "query"
          required: false
          schema:
            type: "number"
            default: "100"
          description: "Number of logs to return (1-1000)"
        -
          name: "offset"
          in: "query"
          required: false
          schema:
            type: "number"
          description: "Number of logs to skip"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformLogsResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/platforms/logs/stats:
    get:
      summary: "Get platform logs statistics and recent errors"
      description: "Get platform logs statistics and recent errors"
      operationId: "platformsLogsStats"
      tags:
        - "Platform Logs"
      security:
        -
          ApiKeyAuth:
            - "platforms:read"
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformLogStatsResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/platforms/supported:
    get:
      summary: "List supported platforms with credential requirements"
      description: "List supported platforms with credential requirements"
      operationId: "platformsSupported"
      tags:
        - "Platforms"
      security:
        -
          ApiKeyAuth:
      parameters:
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportedPlatformsResponse"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/chats:
    get:
      summary: "List all chats for a project with filtering and pagination"
      description: "List all chats for a project with filtering and pagination"
      operationId: "chatsList"
      tags:
        - "Chats"
      security:
        -
          ApiKeyAuth:
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListChatsDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                type: "object"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/chats/{chatId}:
    get:
      summary: "Get details of a specific chat"
      description: "Get details of a specific chat"
      operationId: "chatsGet"
      tags:
        - "Chats"
      security:
        -
          ApiKeyAuth:
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "chatId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "chatId parameter"
        -
          name: "chatId"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Chat ID"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                type: "object"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: "Update chat metadata (name, avatar, custom metadata)"
      description: "Update chat metadata (name, avatar, custom metadata)"
      operationId: "chatsUpdate"
      tags:
        - "Chats"
      security:
        -
          ApiKeyAuth:
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "chatId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "chatId parameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateChatDto"
      responses:
        200:
          description: "Successful response"
          content:
            application/json:
              schema:
                type: "object"
        401:
          description: "Authentication required"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        403:
          description: "Insufficient permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        404:
          description: "Resource not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/projects/{project}/chats/{chatId}/messages:
    get:
      summary: "Get messages for a specific chat with pagination"
      description: "Get messages for a specific chat with pagination"
      operationId: "chatsMessages"
      tags:
        - "Chats"
      security:
        -
          ApiKeyAuth:
      parameters:
        -
          name: "project"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "project parameter"
        -
          name: "chatId"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "chatId parameter"
        -
          name: "chatId"
          in: "query"
          required: true
          schema:
            type: "string"
          description: "Chat ID"
        -
          name: "limit"
          in: "query"
          required: false
          schema:
            type: "number"
            default: 50
          description: "Number of messages to return"
        -
          name: "offset"
          in: "query"
          required: false
          schema:
            type: "number"
            default: 0
          description: "Number of messages to skip"
      responses:
        200:
[...]
